# Build directories
build/
install/

# Visual Studio
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo
*.user

# Compiled files
*.exe
*.dll
*.pdb
*.ilk
*.lib
*.exp

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
compile_commands.json

# IDE
.vs/
.vscode/

# Misc
*.log
*.o
*.obj

# OS
.DS_Store
Thumbs.db

# Clang
.cache
